---
layout: page
title: "所有文章"
permalink: /category/
---

{% for category in site.categories %}
    {% capture cat %}{{ category | first }}{% endcapture %}
        <div class="category category-hide" data-cate="{{ cat }}">
            <h2>{{ cat | capitalize }}</h2>
            {% for desc in site.descriptions %}
                {% if desc.cat == cat %}
                    <p class="desc"><em>{{ desc.desc }}</em></p>
                {% endif %}
            {% endfor %}
            <ul class="posts-list">
            {% for post in site.categories[cat] %}
                <li>
                    <strong>
                        <a target="_blank" href="{{ post.url | remove_first: '/' | prepend: site.baseurl }}">{{ post.title }}</a>
                    </strong>
                    <span class="post-date">- {{ post.date | date_to_long_string }}</span>
                </li>
            {% endfor %}
            </ul>

            {% if forloop.last == false %}<hr>{% endif %}
        </div>

{% endfor %}
<br>

<script type="text/javascript">
    function getParam(par){
        var search = document.location.href; 
        var get = search.indexOf(par +"=");
        if(get == -1){
            return false;   
        }
        var params = search.slice(par.length + get + 1); 
        var nextPar = params.indexOf("&");
        if(nextPar != -1){
            params = params.slice(0, nextPar);
        }
        return params || "";
    }

    var keywords = getParam('cate') && getParam('cate').toLowerCase();

    var $category = $('.post-content');
    if(keywords){
        $category.find('.category').hide();
        $category.find('.category[data-cate=' + keywords + ']').show();
        $('.post-header .post-title').text(keywords);
    }else{
        $category.find('.category').show();
        $('.post-header .post-title').text('所有文章');
    }
</script>