---
layout: page
title: "标签分类"
permalink: /tags/
---

{% for tag in site.tags %}
    {% capture cat %}{{ tag | first }}{% endcapture %}
        <div class="tag tag-hide" data-tag="{{ cat }}">
            <h2>{{ cat | capitalize }}</h2>
            <ul class="posts-list">
            {% for post in site.tags[cat] %}
                <li>
                    <strong>
                        <a target="_blank" href="{{ post.url | remove_first: '/' | prepend: site.baseurl }}">{{ post.title }}</a>
                    </strong>
                    <span class="post-date">- {{ post.date | date_to_long_string }}</span>
                </li>
            {% endfor %}
            </ul>

            {% if forloop.last == false %}<hr>{% endif %}
        </div>
{% endfor %}
<br>
