<footer class="site-footer">
  <div class="wrapper">
    <h3 class="footer-heading">{{ site.title }}</h3>
    <div class="site-navigation">
    	<p><strong>站内</strong></p>
      <ul class="pages">
        {% for page in site.pages %}
        {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | remove_first: '/' | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="site-contact">
    	<p><strong>相关链接</strong></p>
        <ul class="social-media-list">
      	<li>
      		<a href="mailto:{{ site.email }}">
	      		<i class="icon-font i-star"></i>
	      		<span class="username">{{ site.email }}</span>
      		</a>
      	</li>

      	{% for social in site.social %}
	      	{% if social.url != null %}
	      	<li>
	           <a href="{{ social.url }}" title="{{ social.desc }}">
	               <i class="icon-font i-heart"></i>
	               <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
	           </a>
	        </li>
	      	{% endif %}
      	{% endfor %}

      </ul>
    </div>
    <div class="site-signature">
    	<p class="rss-subscribe text"><strong>订阅<a href="{{ "feed.xml" | prepend: site.baseurl }}">via RSS</a></strong></p>
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="//1.url.cn/jslib/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" defer></script>
