<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="tYoUqpkCCv" />
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" itemprop="description" content="{{ site.description }}">
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="image" content="{{ site.image }}">
    <meta itemprop="keywords" name="keywords" content="{{ site.keywords }}">

    {% if site.name %}
    <meta name="author" content="{{ site.name }}">
    <meta name="copyright" content="&copy; {{ site.name }} {{ site.time | date: '%Y' }}">
    <meta name="protocol" content="1">
    {% endif %}

    <!-- External libraries -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">

    <!-- Favicon and other icons (made with http://www.favicon-generator.org/) -->
    <link rel="shortcut icon" href="{{ "assets/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  	<link rel="icon" href="{{ "assets/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  	<meta name="msapplication-TileColor" content="#ffffff">
  	<meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "assets/icons/icon.png" | prepend: site.baseurl }}">

  	<!-- Site styles -->
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
