<div class="navigation" role="banner">
    <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}" class="logo">
    	{% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <span class="search-input" id="search-input">
      <input type="text" value="" class="search-text" placeholder="输入搜索关键字">
      <i class="icon-font i-search search-btn"></i>
    </span>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
    	<i class="icon-font i-list fa fa-bars"></i>
    </a>
    <span class="nav" role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      	{% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link">
            <a href="{{ page.url | remove_first: '/' | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
          <li id="github-info" class="nav-link" title="https://github.com/ouvens">
            <a class="github-info" href="https://github.com/ouvens" target="_blank">
            <img src="/assets/github.png" height="34" width="130" alt="github地址"></a>
          </li>
      </ul>
    </span>
  </div>
</div>
