<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0FNbiBWk1FugWYo-RiGxQyIHebGeLoXp3HB7AxIFKy8" />
    <meta name="baidu-site-verification" content="tYoUqpkCCv" />
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="cdnjs.cloudflare.com" />
    <link rel="dns-prefetch" href="1.url.cn" />

    <meta name="description" itemprop="description" content="{% if page.tags %}{{ page.title }},{% for tag in page.tags %}{{tag}}{% if forloop.last == false %},{% endif %}{% endfor %} {% else %}{{ site.description }}{% endif %}">
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="image" content="{{ site.image }}">
    <meta itemprop="keywords" name="keywords" content="{% if page.tags %}{{ page.title }},{% for tag in page.tags %}{{tag}}{% if forloop.last == false %},{% endif %}{% endfor %} {% else %}{{ site.description }}{% endif %}">

    {% if site.name %}
    <meta name="author" content="{{ site.name }}">
    <meta name="copyright" content="&copy; {{ site.name }} {{ site.time | date: '%Y' }}">
    <meta name="protocol" content="1">
    {% endif %}

    <!-- External libraries -->
    <link rel="stylesheet" href="{{ "assets/css/iconfont.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">

    <!-- Favicon and other icons (made with http://www.favicon-generator.org/) -->
    <link rel="shortcut icon" href="{{ "assets/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  	<link rel="icon" href="{{ "assets/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    
  	<meta name="msapplication-TileColor" content="#ffffff">
  	<meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "assets/icons/icon.png" | prepend: site.baseurl }}">

  	<!-- Site styles -->
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script>
        // 访问统计
        if(location.host === 'jixianqianduan.com'){
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?b536b128dc21c3d18fdc028f0609e3f0";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        }else{
            window.location.href = 'http://jixianqianduan.com'
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?041efd2cb345ca1b9dbdbb2383cb716d";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        }
    </script>
</head>
