
.post-excerpt p{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 90px;
}

pre code.language-text{
    font-size: modular-scale(-1);
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
    -webkit-text-size-adjust: none;
    color: #f8f8f2;
}
.post-header-container{
    background-color: #0192e1;
}

.post-content .category-hide{
    display: none;
}
.newer-posts{
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    background-color: #0c6eb0;
    color: #fff;
    &:hover{
        color: #ddd;
    }
}

.icon-page{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.icon-font.i-list{
    font-size: 32px;
}

.navigation{
    .search-input{
        position: absolute;
        top: 10px;
        left: 50px;
        right: 50px;
        @include media ($tablet) {
            right: 360px;
            left: 80px;
        }
    .icon-font{
            position: absolute;
            right: 10px;
            top: 8px;
            font-size: 24px;
            &:hover{
                cursor: pointer;
                color: #777;
            }
        }
    }
    .search-text{

    }
}